~*
*/~*
*/.idea/*
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
*/*/.ipynb_checkpoints/*
.idea/*
*/cifar-10-batches-py/*
*/cifar-10-python.tar.gz
*/preprocess*
4image-classification/image*
*/checkpoints/*
6embeddings/__pycache__/*
6embeddings/data/*
6embeddings/utils.py
6embeddings/text8.zip
*/checkpoints/*